#!/usr/bin/env bash
# mont nas3 as chl
mount -t cifs -o user=chl,vers=3.0,dir_mode=0770,file_mode=0660,uid=chl,gid=users,credentials=/home/chl/.smbcredentials_nas3 //nas3.local/homes/chl /mnt/net/chl/nas3/homes/chl
mount -t cifs -o user=chl,vers=3.0,dir_mode=0770,file_mode=0660,uid=chl,gid=users,credentials=/home/chl/.smbcredentials_nas3 //nas3.local/NAS3_Volume1 /mnt/net/chl/nas3/NAS3_Volume1
mount -t cifs -o user=chl,vers=3.0,dir_mode=0770,file_mode=0660,uid=chl,gid=users,credentials=/home/chl/.smbcredentials_nas3 //nas3.local/pub /mnt/net/chl/nas3/pub

